.copy-box-lg {
  font-family: $mRegular;
  letter-spacing: .03em;
  line-height:1.7;
  font-size: 1em;
  margin-top:40px;
  color: $textblue;
  padding-bottom: 10px;

  h3 {
    font-family: "merriweatherlight";
    font-style: italic;
    margin-bottom: -10px;
  }

  .wrap-around {
    float: left;
    width: 44%;
    //height: 85px;
    overflow: overlay;
    overflow-y:hidden;
    overflow-x:hidden;
    font-family: $pfBoldItalic;
    font-size: 2.6em;
    line-height: 1;
    padding-bottom: 2px;
    margin: -5px 0 5px 0px;

    @media screen and (max-width: 767px) {
      font-size: 1.2em;
      margin: 5px 0 5px 0px;
    }

    .large {font-size:0.73em; margin-bottom:7px;}
    .medium {font-size:0.48em; margin-bottom:7px;}
    .small {font-size:1em;}

    &.contact {
      height: 125px;
      width:45%;
      font-size: 2.6em;
      margin-bottom:10px;
      @media screen and (max-width: 767px) {
        font-size: 1.6em;
        height: 70px;
      }
    }
  }
}

.copy-box-md {
  margin-top:25px;
  font-family: $mRegular;
  color: $textblue;
  line-height: 1.7em;

  h2.year {
    font-family: $mBold;
    font-size:1.5em;
  }

  h3 {
    font-family: $mLight;
    font-style: italic;
    margin-bottom:2px;
  }
}

.fs-box-section {
  color: $textblue;
  .row {
    fieldset {
      border: 1px solid $textblue;
      display:inline-block;
      font-family: $mRegular;
      text-align:center;
      padding: 18px 0;
      legend {
        text-align: center;
        font-family: $pfBoldItalic;
        font-size: 2em;
      }

      &.mobile-w {
        @media screen and (max-width: 767px) {
          width: 100% !important;
          display:block;
          margin-left: 0;
        }
      }

      strong {
        font-size: 1.2em;
      }

      &.w-one {
        width:30%;
      }
      &.w-two {
        width:65%;
        margin-left: 20px;
      }
      &.w-three {
        width:44%;
      }
      &.w-four {
        width:51%;
        margin-left: 20px;
      }
    }
  }
}

.flourish-section {
  margin-top: 20px;

  .about-memberships {
    background-color: $yellow;
    padding: 10px 17px 16px 17px;
    display: inline-block;
    width: 40%;
    margin-right:9%;

    @media screen and (max-width: 767px) {
      width: 94.5%;
      margin-right: 0;
      display: block;
      margin-bottom: 20px;
    }

    a {
      text-decoration: none;
      color: $blue;
      fieldset {
        border: 1px solid $blue;
        legend {
          text-align: center;
        }
        p {
          text-align: center;
          &.name {
            font-family: $pfBoldItalic;
            margin-bottom:0.5em;
          }
          &.cta {
            margin-top: 0.5em;
            font-family: $mRegular;
          }
        }
      }
    }
  }
  .about-donate {
    background-color: $blue;
    padding: 10px 17px 16px 17px;
    display: inline-block;
    width: 40%;

    @media screen and (max-width: 767px) {
      width: 94.5%;
      margin-right: 0;
      display:block;
    }

    a {
      text-decoration: none;
      color: $yellow;
      fieldset {
        border: 1px solid $yellow;
        legend {
          text-align: center;
        }
        p {
          text-align: center;
          &.name {
            font-family: $pfBoldItalic;
            margin-bottom: 0.5em;
          }
          &.cta {
            margin-top: 0.5em;
            font-family: $mRegular;
          }
        }
      }
    }
  }
}

section.staff {
  .member {
    width: 32%;
    display: inline-block;
    vertical-align: top;
    img {
      max-width: 90%;
    }
    p.name {
      font-family: $mBold;
    }
    p.title {
      font-family: $mRegular;

      @media screen and (max-width: 767px) {
        font-size: 0.75em;
      }
    }
  }
}

.library-search {
  text-align: center;
  padding:15px 0;
  .search-box {
    border: 1px solid $darkblue;
    height: 34px;
    width: 300px;
    font-family: merriweatherregular;
    font-size: 1em;
    padding-left: 10px;
  }
  .search-button {
    border-radius:0;
    background-color: $darkblue;
    color: $yellow;
    border: none;
    font-family: $pfBoldItalic;
    font-size:1.1em;
    height: 34px;
    width: 150px;
    margin-left: -4px;
    vertical-align: bottom;
    @media screen and (max-width: 767px) {
      margin-top: 10px;
    }
  }
}
