//Also is used on the library page

.names {
  .names-column {
    display:inline-block;
    width: 32.5%;
    vertical-align: top;

    @media screen and (max-width: 767px) {
      width: 94.5%;
      margin-right: 0;
      display:block;
    }

    img {
      max-width: 100%;
      margin-bottom: 65px;
    }

    p {
      color: $darkblue;
      padding-right:25px;

      &.title {
        font-size: 0.85em;
        font-family: $mBold;
      }
      &.name {
        font-size: 0.82em;
        font-family: $mBold;
        font-style: italic;
        margin-top:-5px;
        padding-top:0px;
        margin-bottom: 20px;
      }
    }
  }
}