#admin-nav {
  height: 40px;
  width: 100%;
  background-color: #e7e7e7;
  color: #777;
  border: 1px solid #777;
  font-size: 14px;
  font-family: Lato;

  a {
    color: #777;
    text-decoration: none;
  }

  .title {
    display: inline-block;
    height: 40px;
    padding: 8px 15px 0 15px;
    font-size: 18px;
    line-height: 20px;
  }

  .admin-link {
    display: inline-block !important;
    height: 40px;
    padding: 0 15px;

    &.login {
      color: green;
    }
  }

  .logout-link {
    float: right;
    height: 40px;
    padding: 0 15px;
    border-left: 1px solid #656565;
    a {
      color: #777;
      text-decoration: none;
    }
  }
}

.color-blue {
  color: $textblue;
}

.color-yellow {
  color: $lightyellow;
}

.col-centered {
  float:none;
  margin: 0 auto;
}