.date-nav {
  width: 100%;
  color: $blue;
  text-align: center;
  font-size: 1.25em;

  margin:10px 0 10px 0;

  a {
    color: $blue;
    text-decoration: none;
  }

  .last-month {
    display: inline-block;
    padding-right: 8px;
    font-family: $pfBoldItalic;
  }

  .this-month {
    display: inline-block;
    font-family: $pfBoldItalic;
  }

  .next-month {
    display: inline-block;
    padding-left: 8px;
    font-family: $pfBoldItalic;
  }
}

.current-month {
  text-align: center;
  font-family: $pfBoldItalic;
  font-size: 25px;
  margin-top: 30px;
}

.four-box {
  width: 100%;
  display: block;
  white-space: nowrap;

  .box {
    display: inline-block;
    width: 25%;
    font-size: 0;
    vertical-align: top;

    @media screen and (max-width: 767px) {
      width: 50%;
      margin: 0 auto;
      display: block;
      margin-bottom: 20px;
    }

    .title {
      font-family: $pfBoldItalic;
      font-size: 20px;
      text-align: center;
      margin-bottom: 5px;
      white-space: normal;
    }

    .date {
      font-size: 16px;
      font-family: $mItalic;
      text-align: center;
      letter-spacing: 1px;
    }

    .more-info {
      width: 75%;
      background-color: $blue;
      color: $yellow;
      font-family: $pfBoldItalic;
      text-align: center;
      font-size: 14px;
      height: 22px;
      padding: 5px 0;
      margin: 12px auto 0 auto;
    }
  }
}

.events-container {
  margin-bottom:100px;

  .no-events {
    text-align: center;
    font-family: $pfBoldItalic;
    font-size: 2em;
  }

  .event {
    display: inline-block;
    width: 32.5%;
    height: 200px;
    color: $blue;
    margin-top: 20px;
    vertical-align: top;

    a {
      text-decoration: none;
      color: $blue;
      fieldset {
        border: 1px solid $blue;
        margin: 7px 10px;
        legend {
          text-align: center;
        }

        .more-info {
          width: 100%;
          background-color: $blue;
          color: $yellow;
          font-family: $pfBoldItalic;
          text-align: center;
          font-size: 0.9em;
          padding: 5px 0;
          margin-top: 7px;
        }
        p {
          text-align: center;
          &.day {
            font-size: 2.5em;
            margin-top: 0.2em;
            margin-bottom: 0;
            color: $yellow;
            font-family: $pfBoldItalic;
          }
          &.title {
            margin-top: 0.4em;
            font-size: 0.9em;
            font-family: $mBold;
            padding: 0 14px 0 14px;
            margin-bottom: 5px;
          }
          &.venue, &.time {
            font-family: $mRegular;
            font-style: normal;
            padding: 0;
            margin: 0;
            font-size: 0.85em;
          }
        }
      }
    }
  }
}