.contact-methods {
  margin-top: 30px;

  div.method {
    width: 32.5%;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    @media screen and (max-width: 767px) {
      width: 100%;
      display: block;
      height: auto;
    }

    p.type {
      font-family: $mRegular;
      font-style: italic;
      font-size: 1.5em;
      margin-bottom:0;
    }
    p {
      font-size: 1em;
      font-family: $mBold;
      font-style: italic;
      a {
        color: $textblue;
        text-decoration: none;
      }
    }
  }
}