footer {
  background-color: #ebebeb;
  min-height: 200px;
  width: 100%;

  .footer-wrapper {
    width: 95%;
    margin: 0 auto;
    padding-top:20px;

    @media screen and (max-width: 767px) {
      width:85%;
    }

    .footer-left {
      display: inline-block;
      width: 49.5%;
      @media screen and (max-width: 767px) {
        display:block;
        width:100%;
      }

      p.newsletter-signup {
        font-family: $pfBoldItalic;
        color: $darkblue;
      }

      div.form-input {
        display: inline-block;
        vertical-align: top;
        width: 32%;

        @media screen and (max-width: 767px) {
          width:47%;
          &.input-right {
            padding-left: 4%;
          }
        }

        &.ns-submit {
          @media screen and (max-width: 767px) {
            display:block;
            width:100%;

            button {
              width: 100%;
              margin-top: 15px;
            }
          }
        }

        input {
          background-color: #ebebeb;
          border: 1px solid $blue;
          height: 32px;
          padding-left: 8px;

          @media screen and (max-width: 767px) {
            display:block;
            width:100%;
            padding-left:0;
          }

          &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color:    $blue;
            font-family: $mRegular;
            padding-left: 5%;
          }
          &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color:    $blue;
            font-family: $mRegular;
            opacity:  1;
            padding-left: 5%;
          }
          &::-moz-placeholder { /* Mozilla Firefox 19+ */
            color:    $blue;
            font-family: $mRegular;
            opacity:  1;
            padding-left: 5%;
          }
          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color:    $blue;
            font-family: $mRegular;
            padding-left: 5%;
          }
          &:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
            color:    $blue;
            font-family: $mRegular;
            padding-left: 5%;
          }
        }

        button {
          color: $yellow;
          background-color: $blue;
          font-family: $pfBoldItalic;
          height: 32px;
          border: none;
          width: 135px;
        }
      }
    }

    .footer-right {
      display: inline-block;
      width: 49.5%;
      vertical-align: top;

      @media screen and (max-width: 767px) {
        display:block;
        width:100%;
      }

      .address {
        font-family: $pfBold;
        @media screen and (max-width: 767px) {
          margin:0;
          font-size: 0.8em;
        }
      }

      .fine-print {
        font-family: $pfRegular;
        @media screen and (max-width: 767px) {
          font-size: 0.7em;

        }
      }
    }
  }
}