legend {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .desktop-only {
    display: none;
  }
}

.mobile-only {
  @media screen and (min-width: 767px) {
    display: none;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  background-image: url('/img/side-flourish.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0px 130px;

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .top-spacer {
    width:100%;
    height: 40px;
  }

  .wrapper {
    width:767px;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      width: 90%;
      margin: 0 auto;
    }

    h1.title-bar {
      overflow: hidden;
      text-align: center;
      font-family: $pfBoldItalic;
      font-size: 1.5em;
      margin: 40px 0;
    }
    h1.title-bar:before,
    h1.title-bar:after {
      background-color: $lightyellow;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
    }
    h1.title-bar:before {
      right: 0.5em;
      margin-left: -50%;
    }
    h1.title-bar:after {
      left: 0.5em;
      margin-right: -50%;
    }

  }

  nav.mobile-nav {
    height: 50px;
    background-color: $blue;
    background-image: url('/img/small-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 43px;
    width: 100%;
    position: relative;
    z-index:10;

    #hamburger-icon {
      width: 50px;
      z-index:999;
      i {
        color: white;
        font-size: 30px;
        padding:10px 12px;
      }
    }

    div.small-logo{
      position: absolute;
      pointer-events: none;
      top:8px;
      width: 36%;
      padding-left: 32%;
      z-index:99;

      img {max-width: 100%;}
    }
    div.mobile-donate {
      background-color: $yellow;
      color: $blue;
      width:75px;
      font-family:$pfBoldItalic;
      position: absolute;
      right: 0;
      top: 0;
      height: 50px;
      a {
        color: $blue;
        text-decoration: none;
        p {
          font-size:0.9em;
          text-align:center;
        }
      }
    }
  }

  nav.desktop-nav {
    @media only screen and (max-width: 767px) {
      display: none;
    }

    min-width:1024px;
    background-color: $blue;
    color: white;
    height: 63px;
    width: 100%;
    font-family: $mRegular;

    div.nav-item {
      display: inline-block;
      letter-spacing: 2px;
      padding:0 13px;
      font-size:0.85em;
      height: 63px;
      vertical-align: top;
      line-height:63px;
      position: relative;

      &.header-social {
        padding: 0 11px;
        a {
          color: $yellow;
          i {
            font-size: 1.1em;
          }
        }
      }

      &.nav-logo {
        width: 135px;
        a {
          &.active {
            img {
              position: absolute;
              top: 10px;
              max-width: 125px;
              z-index: 99;
              padding: 0px 14px;
            }
          }
          img {
            max-width: 100px;
            padding: 5px 25px;
          }
        }
      }

      a {
        color: white;
        text-decoration: none;
        &.active {
          color: $yellow;
          font-style: italic;
        }
      }
    }

    .dropdown {
      background-image:url('/img/dropdown.png');
      color: $blue;
      position: absolute;
      height: 108px;
      width: 170px;
      top: 63px;
      left: -46px;
      z-index:9999;
      line-height: 1.4;
      display: none;

      &#about-dropdown {
        background-image:url('/img/dropdown-about.png');
        height: 78px;
      }

      p {
        font-size: 0.85em;
        font-family: $mBold;
        text-align: center;
        margin-bottom: 0;
        margin-top: 10px;

        a {
          color: $blue;
          text-decoration: none;
        }
      }
    }

    #news:hover #news-dropdown {display: block};
    #about:hover #about-dropdown {display: block};

    .header-donate {
      float: right;
      background-color: $yellow;
      font-family: $pfBoldItalic;
      height: 100%;
      width: 130px;
      text-align: center;
      cursor: pointer;
      a {
        color: $blue;
        text-decoration: none;
      }
    }
  }
}

#hamburger-nav {
  position:fixed;
  top:0px;
  width:100%;
  min-height:400px;
  background-color: $blue;
  text-align: center;
  padding-top: 75px;
  display: none;
  z-index: 9999;

  img {max-width:35%;}

  #hamburger-x {
    position: fixed;
    top: 8px;
    left: 12px;
    i {
      color: white;
      font-size: 2em;
    }
  }

  .mobile-social {
    a i{
      color: $yellow;
      font-size: 1.5em;
      padding-right: 10px;
    }
  }

  ul {
    margin-left: 0;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
    margin-top: 25px;

    li {
      list-style-type: none;
      margin-bottom: 7px;
      a {
        text-decoration: none;
        color: white;
        font-family: $mRegular;
        &.active {
          color: $yellow;
          font-family: $mBold;
        }
      }

      &.secondary {
        a {
          color: white;
          font-size:0.75em;
        }
      }
    }
  }
}