.home-header {
  width: 100%;
  position: relative;

  img {
    width: 100%;
  }

.home-caption{
    color: white;
    font-family: $pfBoldItalic;
    width: 518px;
    position: absolute;
    margin: 0 auto;
    top:20%;
    left: 0;
    right: 0;

    @media screen and (max-width: 767px) {
      width:90%;
    }

    fieldset {
      border: 1px solid white;
      text-align: center;
      legend {
        font-size: 3.5em;
        letter-spacing: 2px;
        color: white;
        @media screen and (max-width: 767px) {
          font-size: 2em;
        }
      }
      p {
        margin-top: 0;
        margin-bottom: 0;
        letter-spacing: 2px;
        &.f1 {
          font-size: 5.5em;
          text-align: center;
          margin-top:-25px;
          @media screen and (max-width: 767px) {
            font-size: 3em;
            padding: 6px 0;
          }
        }
        &.f2 {
          font-size: 3.2em;
          margin-top: -25px;
          text-align: right;
          margin-right: 36px;
          @media screen and (max-width: 767px) {
            font-size: 1.9em;
            margin-right: 19px;
          }
        }
        &.f3 {
          font-size: 2.75em;
          text-align: left;
          margin-top: -10px;
          margin-left: 15px;
          padding-bottom: 8px;
          @media screen and (max-width: 767px) {
            font-size: 1.4em;
          }
        }
      }
    }
  }
}

.home-bottom-bar {
  white-space: nowrap;

  @media screen and (max-width: 767px) {
    white-space: normal;
    width: 100%;
  }

  .title {
    font-family: $pfBlack;
    color: black;
  }
  .info {
    font-family: $mItalic;
    white-space: normal;
  }
  .blurb {
    font-family: $mRegular;
    white-space: normal;
    font-size: 0.85em;
    line-height: 1.5;
    @media screen and (max-width: 767px) {
      padding:5px 25px;
      font-size:1em;
      line-height: 2;
    }
  }


  .first {
    display: inline-block;
    width: 25%;

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    .home-memberships {
      background-color: $yellow;
      padding: 10px;
      a {
        text-decoration: none;
        color: $blue;
        fieldset {
          border: 1px solid $blue;
          margin: 7px 10px;
          legend {
            text-align: center;
          }
          p {
            text-align: center;
            &.name {
              font-size: 1.2em;
              margin-top: 0.4em;
              margin-bottom: 0;
              font-family: $pfBoldItalic;
            }
            &.cta {
              margin-top: 0.4em;
              font-size: 0.9em;
              font-family: $mRegular;
            }
          }
        }
      }
    }
    .home-donate {
      cursor: pointer;
      background-color: $blue;
      padding: 10px;
      a {
        text-decoration: none;
        color: $yellow;
        fieldset {
          border: 1px solid $yellow;
          margin: 7px 10px;
          legend {
            text-align: center;
          }
          p {
            text-align: center;
            &.name {
              font-size: 1.2em;
              margin-top: 1.4em;
              margin-bottom: 0;
              font-family: $pfBoldItalic;
            }
            &.cta {
              margin-top: 0.5em;
              margin-bottom: 2em;
              font-family: $mRegular;
              font-size: 0.9em;
            }
          }
        }
      }
    }
  }

  .home-news {
    display: inline-block;
    background-color: white;
    vertical-align: top;

    @media screen and (max-width: 767px) {
      display:block;
    }

    &.second {
      width: 32.5%;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
    &.third {
      width: 35%;
      @media screen and (max-width: 767px) {
        width: 100%;
        padding-bottom:20px;
      }
    }

    .left {
      display:inline-block;
      width: 35%;
      text-align: center;
      margin-top: 98px;
      @media screen and (max-width: 767px) {
        margin-top: 45px;
        margin-bottom: 10px;
        img {
          max-width:60%;
        }
      }
    }
    .right {
      display:inline-block;
      width: 64%;
      margin-top:30px;
      @media screen and (max-width: 767px) {
        margin-top: 32px;
        margin-bottom: 9px;
      }

      .title {
        font-size: 1.3em;
        @media screen and (max-width: 767px) {
          font-size:1em;
          margin-bottom:5px;
        }
      }
      .info {
        @media screen and (max-width: 767px) {
          margin-top: 0;
        }
      }
    }
  }
}

a.feature {
  text-decoration: none;
  color: $blue;
}
