.memberships-container {
  margin-bottom:60px;
  .memberships-box {
    display: inline-block;
    width: 32.5%;
    vertical-align:top;

    @media screen and (max-width: 767px) {
      display:block;
      width: 80%;
      margin:0 auto;
    }

    fieldset {
      border: 1px solid $blue;
      text-align: center;
      height: 425px;
      &.business {
        height:96px;
        margin-left:30px;
        @media screen and (max-width: 767px) {
          margin: 10px auto;

        }
      }
      legend {
        font-size: 3.5em;
        letter-spacing: 2px;
        @media screen and (max-width: 767px) {
          font-size: 2em;
        }
      }
      .pay-online {
        width: 100%;
        background-color: $blue;
        color: $yellow;
        font-family: $pfBoldItalic;
        text-align: center;
        font-size: 0.9em;
        padding: 9px 0;
        margin-top:7px;
        cursor: pointer;
      }

      .title {
        font-family: $pfBoldItalic;
      }

      form {
        height: 318px;
        &.business {
          height: 134px;
          display:none;
        }
        &.corporate {
          height: 134px;
          display:none
        }

        ul {
          list-style: none;
          //height: 100%;
          width: 100%;
          margin: -15px 0 0 20px;
          padding: 0;
        }

        ul li {
          color: #AAAAAA;
          display: block;
          position: relative;
          float: left;
          width: 100%;
          height: 35px;
        }

        ul li input[type=radio] {
          position: absolute;
          visibility: hidden;
        }

        ul li label {
          display: block;
          position: relative;
          font-size: 0.9em;
          font-family: $mRegular;
          color: $blue;
          padding: 25px 25px 25px 35px;
          margin: 10px auto;
          height: 30px;
          z-index: 9;
          text-align: left;
          cursor: pointer;
          -webkit-transition: all 0.25s linear;
        }

        ul li:hover label {
          //color: #FFFFFF;
        }

        ul li .check {
          display: block;
          position: absolute;
          border: 2px solid $blue;
          border-radius: 100%;
          height: 20px;
          width: 20px;
          top: 30px;
          //left: 20px;
          z-index: 5;
          transition: border .25s linear;
          -webkit-transition: border .25s linear;
        }

        ul li:hover .check {
          border: 2px solid $yellow;
        }

        ul li .check::before {
          display: block;
          position: absolute;
          content: '';
          border-radius: 100%;
          height: 16px;
          width: 16px;
          top: 2px;
          left: 2px;
          margin: auto;
          transition: background 0.25s linear;
          -webkit-transition: background 0.25s linear;
        }

        input[type=radio]:checked ~ .check {
          border: 2px solid $yellow;
        }

        input[type=radio]:checked ~ .check::before {
          background: $yellow;
        }

        input[type=radio]:checked ~ label {
          color: $blue;
        }
      }

    }
  }
}

.memberships-bottom {
  font-family: $mRegular;
  margin-bottom: 70px;
  p {
    margin-left: 10%;
  }
}