.news-container {width: 100%;}

.blog-details {
  width:100%;
  font-family: $mBold;
  font-style: italic;
  font-size: 0.9em;
}

.blog-details-two {
  width: 100%;
  height: 60px;
  text-align: center;
  margin-top:20px;
  .inline {
    display: inline-block;
    vertical-align: middle;
    &.share {
      font-family: $mBold;
      font-style:italic;
      letter-spacing: 1px;
    }
  }

  .read {
    background-color: $blue;
    color: $yellow;
    font-family: $pfBoldItalic;
    padding: 10px 12px;
    margin-right:10px;
    font-size:0.8em;
    text-decoration: none;
    letter-spacing: 1;
  }

  .blog-social {
    width: 30px;
    height: 30px;
    border-radius:100%;
    text-align:center;
    line-height:30px;
    background-color: $yellow;
    color: $blue;
    margin-right: 10px;
    span
    {
      line-height: normal;
      display:inline-block;
      vertical-align: middle;
      i {
        padding-top: 8px;
      }
    }
  }
}

.blog-box {
  display:inline-block;
  width:45%;
  margin-right: 30px;
  background-color: $blue;
  padding: 10px;

  @media screen and (max-width: 767px) {
    width: 94.5%;
    margin-right: 0;
    display:block;
    margin-bottom: 20px;
  }

  a {
    text-decoration: none;
    color: $yellow;
    fieldset {
      border: 1px solid $yellow;
      margin: 9px 14px;
      legend {
        text-align: center;
      }
      p {
        text-align: center;
        &.name {
          font-family: $pfBoldItalic;
          font-size: 1.25em;
          margin: 5px 0 -5px 0;
        }
        &.cta {
          font-family: $mRegular;
          font-style: normal;
          letter-spacing: 0;
        }
      }
    }
  }
}

.town-hall-box {
  display:inline-block;
  width: 45%;
  background-color: $yellow;
  padding: 10px;

  @media screen and (max-width: 767px) {
    width: 94.5%;
    margin-right: 0;
    display:block;
  }

  a {
    text-decoration: none;
    color: $blue;
    fieldset {
      border: 1px solid $blue;
      margin: 9px 14px;
      legend {
        text-align: center;
      }
      p {
        text-align: center;
        &.name {
          font-family: $pfBoldItalic;
          font-size: 1.25em;
          margin: 5px 0 -5px 0;
        }
        &.cta {
          font-family: $mRegular;
          font-style: normal;
          letter-spacing: 0;
        }
      }
    }
  }
}

.calendar-box {
  width: 97.5%;
  background-color: $calblue;
  padding: 10px;
  margin-top: 20px;
  @media screen and (max-width: 767px) {
    width: 94.5%;
    margin-right: 0;
    display:block;
  }
  a {
    text-decoration: none;
    color: $yellow;
    fieldset {
      border: 1px solid $yellow;
      margin: 9px 14px;
      legend {
        text-align: center;
      }
      p {
        text-align: center;
        color: $yellow;
        &.name {
          font-family: $pfBoldItalic;
          font-size: 1.25em;
          margin: 5px 0 -5px 0;
        }
        &.cta {
          font-family: $mRegular;
          font-style: normal;
          letter-spacing: 0;
        }
      }
    }
  }
}

.pagination {
  text-align: center;
  li {
    display:inline-block;
    list-style-type: none;
    padding:10px;
    font-size: 1.5em;
  }
}