
$blue: #131b31;
$darkblue: #1f2023;
$linkblue: #2a56d1;
$calblue: #041951;
$yellow: #e6cc33;
$lightyellow: #f2e492;
$textblue: #1f2023;

$mBold: "merriweatherbold";
$mLight: "merriweatherlight";
$mRegular: "merriweatherregular";
$mItalic: "merriweatheritalic";

$pfBoldItalic: "playfair_displaybold_italic";
$pfBlack: "playfair_displayblack";
$pfBlackItalic: "playfair_displayblack_italic";
$pfBold: "playfair_displaybold";
$pfRegular: "playfair_displayregular";