/* RE-DEFINED HTML TAGS */

body
{
	margin: 0;
	padding: 0 0 2em 0;
	background-color: #FFFFFF;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	line-height: 1.4em;
}

body *
{
	margin-top: 0;
	margin-bottom: 0;
}

fieldset
{
	border: none;
	padding: 0;
}

fieldset.submit
{
	margin-top: 1.5em;
	text-align: center;
}

fieldset.submit input
{
	width: 20em;
	border: 2px solid #003399;
	border-top-color: #0099FF;
	border-left-color: #0099FF;
	padding: 0.25em;
	background-color: #0066CC;
	color: #FFFFFF;
}

form.widgEditor
{
	margin-top: 1.5em;
}

label
{
	font-weight: bold;
}

p
{
	margin-top: 1.5em;
}

textarea
{
	clear: left;
	width: 100%;
	height: 200px;
	border-top-width: 1px;
	padding: 0;
}




/* OBJECT TAGS */

#content
{
	clear: both;
	padding: 0 2em;
	background-color: #FFFFFF;
}




/* CLASSES */

.clearer
{
	clear: both;
	height: 1px;
	font-size: 1px;
	line-height: 1px;
}

.hidden
{
	position: absolute;
	left: -10000px;
}